<nav class="navbar navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">Mi Tienda</a>
    <div class="d-flex gap-2">
      <a class="btn btn-sm btn-outline-light" href="{% url 'agregar_producto' %}">Producto</a>
      <a class="btn btn-sm btn-outline-light" href="{% url 'agregar_cliente' %}">Cliente</a>
      <a class="btn btn-sm btn-outline-light" href="{% url 'agregar_venta' %}">Venta</a>
      <a class="btn btn-sm btn-warning" href="{% url 'buscar_producto' %}">Buscar</a>
      {% if request.user.is_authenticated %}
        <span class="navbar-text text-light mx-2">Hola, {{ request.user.username }}</span>
        <a class="btn btn-sm btn-outline-light" href="{% url 'logout' %}">Salir</a>
      {% else %}
        <a class="btn btn-sm btn-success" href="{% url 'login' %}">Ingresar</a>
      {% endif %}
    </div>
  </div>
</nav>
